body {
    font-family: Georgia;
}

#baner-pierwszy, #baner-drugi {
    background-color: #3CB371;
    color: white;
    height: 100px;
    width: 40%;
    float: left;
}

#baner-trzeci {
    background-color: #3CB371;
    height: 100px;
    width: 20%;
    float: left;
}

main {
    clear: both;
}

.dzien {
    background-color: #FFDAB9;
    width: 170px;
    height: 90px;
    margin: 5px;
    border: 1px solid #3CB371;
    float: left;
}

footer {
    background-color: #3CB371;
    color: white;
    clear: both;
}

h6 {
    text-align: right;
}

form {
    padding: 30px;
}